* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font_lato);
}

:root {
    
    --azul_padrao: #003D73;
    --fundo_pagina: #ECF1F8;
    --branco: #fff;
    --font_lato: 'Lato', sans-serif;
    --azul_fundo: #053155; 
    --fundo_caixa_seletora: #F6F6F6;
}

.pagina_desktop {
    display: flex;
    width: 95%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.primeira_secao_menu_esquerdo {
    display: flex;
}

.menu_esquerdo_pequeno {
    width: 70px;
    height: 100vh;
    background-color: var(--azul_padrao);
}    

.menu_esquerdo_grande {
    width: 300px;
    height: 100vh;
    background-color: var(--azul_padrao);
}    

.corpo_do_site_meio {
    display: flex;
    width: 95%;
    height: 100%;
    background-color: var(--fundo_pagina);
    flex-direction: column;
    align-items: flex-start;
}   

.logo_integradash_desktop {
    width: 40px;
    margin: 30px 10px 0 20px;

}

.espaco_menu_pequeno1 {
    background-color: var(--azul_padrao);
    height: 9vh;
    width: 50px;
}

.espaco_menu_pequeno2 {
    background-color: var(--azul_padrao);
    height: 36vh;
    width: 50px;
}

.menu_parte_superior  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: 10PX;
}

.menu_parte_superior img {
    width: 70%;
}

.menu_parte_inferior {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: 10PX;
}

.menu_parte_inferior img {
    width: 70%;}

.menu_parte_inferior .botao_sair {
    margin-left: 7px;
}

.hover1:hover {
    background-color: rgb(55, 139, 218);
}

.edicao_favoritos_esq_gde {
    font-weight: 700;
    color: var(--branco);
    margin-top: 81px;
    margin-left: 25px;
    font-size: 25PX;
}

.edicao_escolha {
    color: var(--branco);
    margin-top: 25px;
    margin-left: 25px;
    font-size: 20px;
}

.parte_direita_botao_seletor_visualizacao {
    width: 65%;
}

select {
    margin-top: 15px;
    background-color: #EAEAEA;
    color: #555555;
    font-weight: 900;
    font-size: 15px;
    width: 65%;
}

option {
    color: #555; 
    font-weight: 500;  
    background-color: #d9d7d7;
}

.edicao_fav_meio_pag {

    padding-top: 50px ;
    font-weight: 700;
    margin-left: 60px;
    font-size: 25PX;
}

.edicao_itens_salvos_meio_pag {

    margin-top: 25px;
    margin-left: 60px;
    font-size: 20px;
}

.botao_add_desktop {
    width: 102px;
    margin-left: 25px;
    margin-top: 30px;
}

.caixa_perfil_usuario {
    background-color: #fff;
    width: 60%;
    height: 8%;
    margin-top: 81px;
    margin-left: 40px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.edicao_foto_usuario {
    width: 40px;
    border-radius: 7px;
}

.seta_caixa_perfil {
    width: 6%;
    height: 13%;
    margin-right: 7px;
    margin-bottom: 15px;
}

.tamanho_nome_perfil{
    width: 80px;
    font-weight: 700;
    font-size: 15px;
}

.pagina_mobile {
    display: none;
}

.fundo_tela_arquivos {
    width: 93.5%;
    height: 69vh;
    background-color: var(--fundo_caixa_seletora);
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    fill: #EAEAEA;
    filter: drop-shadow(1.5px 1.5px 3px rgba(0, 0, 0, 0.25));
}

.seletor_curitiba,
.seletor_taubate,
.seletor_anchieta {
    display: flex;
    gap: 5px;
    margin-left: 20px;
}

.carro_curitiba_seletor,
.carro_taubate_seletor,
.carro_anchieta_seletor{
    width: 56%;
}

.testetamanho{
    font-size: 14px;
}

.menu_veiculos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-top: 34px;
}

.parte_esquerda_seletor {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.botao_seletor_visualizacao {
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    font-weight: 500;
    fill: #EAEAEA;
    filter: drop-shadow(1.5px 1.5px 3px rgba(0, 0, 0, 0.25));
    margin-top: 25PX;
}

.local_dos_arquivos {
    width: 70vw;
    height: 52vh;
    background-color: var(--branco);
    border: 1px solid rgb(183, 183, 183);
    margin-top: 22px;
    overflow-y: scroll;
}

.selecione_sua_planta {
    padding-top: 20px;
    width: 200px;
    font-weight: 380px;
    font-size: 20px;
    margin-left: 45px;
    margin-bottom: 30px;
}

.primeira_coluna{
    width: 300px;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1600px) {

    .local_dos_arquivos {
    
            width: 95%;
    
                }
    }
     
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1530px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }
     
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1460px) {

.local_dos_arquivos {

    width: 95%;

            }
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1400px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }
    
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo2
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1390px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo3
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1320px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo3
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1250px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo3
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1160px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo4
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1090px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }
     
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo5
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 1020px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo6
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 950px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }
   
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo6
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 880px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }
    
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo6
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 810px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }
     
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo6
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 740px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }
     
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo6
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 670px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo6
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 635px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
               R E S P O N S I V O   novo6
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 600px) {

    .local_dos_arquivos {
    
        width: 95%;
    
                }
    }