* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font_lato);
}


:root {
    --azulC: #003D73;
    --azulE: #053155;
    --azulBB: #1B77C2;
    --branco: #ffffff;
    --verde: #4ECB71;
    --preto: #000000;
    --azulBranco: #EAEFF6;
}

.logo_menu {
    margin: 20px 0;
    width: 40px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    position: absolute;
    display: flex;
    height: 100vh;
    background: #003D73;
    width: 4vw;
    /* box-shadow: 5px 0 0 #003d73; */
    /* border-left: 10px solid #003D73; */
    overflow: hidden;
    transition: 0.6s;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 40px;
    z-index: 100;
}

.navigation:hover {
    width: 12%;
}

.navigation ul {
    width: 100%;
    top: 85px;
    display: flex;
    height: 75%;
    flex-direction: column;
    justify-content: space-between;
}

.navigation ul li {
    position: relative;
    list-style: none;

    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #003D73;
}


.navigation ul li a .icon1 {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
    font-size: 1.5rem;
    z-index: 1000;
}

.navigation ul li a .icon {
    display: none;
}




.navigation ul li a .title {
    position: relative;
    display: block;
    /* padding-left: 10px; */
    height: 60px;
    line-height: 63px;
    white-space: nowrap;
    color: #fff;
}

.navigation ul li a:focus {
    background: #EAEFF6;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    .title {
        color: #003D73;
    }

    .icon {
        color: #003D73;
    }

    .icon {
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        text-align: center;
        line-height: 70px;
        font-size: 1.5rem;
        z-index: 1000;
    }

    .icon1 {
        display: none;
    }

}







/* .navigation ul li.list::before {
    content: '';
    position: relative;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    
    border-radius: 50%;
    box-shadow: 15px 15px 0 #EAEFF6;

} */

/* .navigation ul li::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #003D73;
} */

.barra_navegacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegacao_peginas {
    width: 13vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.configuracoes_sair {
    width: 13vw;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}