* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* body{
    display: flex;    
 

} */

.paginaprincipal {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo_Integradash_fundo_claro {
    width: 400px;

}