.cards {
  width: 90%;
  padding: 35px 0;
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-gap: 20px; */
  /* display: flex; */
  gap: 20px;
}



.cards .card {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  height: 200px;
  margin-top: 50px;
}

.number {
  font-size: 35px;
  font-weight: 500;
  color: #2b0707;
}

.card-name {
  color: #000000;
  font-weight: 600;
}

.icon-box i {
  font-size: 45px;
  color: #ffffff;
}

.critico {
  background-color: #f07c7c;
}


.urgentes {
  background-color: #7ab8f6;
}

.normais {
  background-color: #ede556;
}

.concluido {
  background-color: #8df69f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  width: 95%;
  height: 100%;
  align-items: center;
}



.testecalendario {
  display: flex;
  align-items: center;
  margin: 30px;
}

.testecalendario .grafico {
  width: 80px;
}

.react-calendar {

  background: #140101;
}

#root {
  display: flex;
  flex-direction: row;
  color: var(#ffffff);
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.mainCards {
  width: 95%;
  display: flex;
  flex-direction: column;
  /* padding-right: 40px; */
  align-items: flex-end;
}

.alertas_grafico {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 400px;
    gap: 15px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.alertas_grafico img {
  display: flex;
    width: 60%;
}

@media screen and (max-width: 796px) {
  body {
    width: 100%;
    background-size: 100% 70%;
    flex-direction: row-reverse;
  }

}